html{
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}

#kontener{
    width: 95%;
    margin: auto;
}

#banner{
    background-color: #00838F;
    height: 200px;
}

#menu{
    background-color: #006064;
    padding: 15px;
}

#menu > a{
    color: white;
    text-decoration: none;
    size: 150%;
}

#glowny{
    float: left;
    height: 350px;
    width: 33%;
}

#stopka{
    clear: both;
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

ul{
    text-align: left;
}

button{
    background-color: #00838F;
    color: white;
}

button:hover{
    color: #80DEEA;
}